node_modules/
.venv/
.cache/
dist/
*.3dm
.DS_Store
Icon?
__pycache__/
*.py[cod]
.env
.env.*
!.env.example
/data/*
!/data/bliss-street/
/data/bliss-street/*
!/data/bliss-street/imagery-collected/
/data/bliss-street/imagery-collected/*
!/data/bliss-street/imagery-collected/17.jpg
!/data/bliss-street/imagery-collected/359.jpg
!/data/bliss-street/imagery-collected/360.jpg
!/data/bliss-street/imagery-collected/640.jpg
!/data/bliss-street/imagery-collected/839.jpg
!/data/bliss-street/imagery-collected/1669.jpg
googlenv
/translate-*.json
/gta-assets/
